{% extends 'base/base_site.html' %}

{% load i18n %}

{% block section %}
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <!-- <h5 class="card-title">{% translate "Create a post!" %}</h5> -->
              <!-- <hr/> -->
              <div class="card-body">
                {% if not posts %}
                  {% translate "No posts yet." %}
                {% endif %}
                {% for post in posts %}
                  {% include "blog/includes/post.html" %}
                {% endfor %}
                <div class="pagination">
                  <span class="step-links">
                    {% if posts.has_previous %}
                      <a href="?page=1">&laquo; {% translate "first" %}</a>
                      <a href="?page={{ posts.previous_page_number }}"></a>
                    {% endif %}
                    {% if posts.number > 1 %}
                      <span class="current">
                        {% translate "Page" %} {{ posts.number }} {% translate "of" %} {{ posts.paginator.num_pages }}.
                      </span>
                    {% endif %}
                    {% if posts.has_next %}
                      <a href="?page={{ posts.next_page_number }}">{% translate "next" %}</a>
                      <a href="?page={{ posts.paginator.num_pages }}">{% translate "last" %} &raquo;</a>
                    {% endif %}
                  </span>
                </div>
              </div>
              <!-- <div class="card-footer"> -->
              <!-- Load More / No more posts -->
              <!-- </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
