{% extends 'base/base_site.html' %}

{% load i18n %}

{% block section %}
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{% translate "Sign Up!" %}</h5>
              <hr/>
              <div class="card-body">
                <form method="POST">
                  {% csrf_token %}
                  {% for field in form %}
                    <div class="mb-3">
                      <!-- <label class="form-label" for="{{ field.auto_id }}"> {{ field.label }}:</label> -->
                      {{ field }}
                      {{ field.errors }}
                    </div>
                  {% endfor %}
                  <button class="btn btn-primary" type="submit">{% translate "Sign Up" %}</button>
                </form>
              </div>
              <div class="card-footer">
                {% translate "If you already have an account," %}
                <a href="{% url 'account:signin' %}">
                  {% translate "Sign In" %}
                </a>
                {% translate "instead." %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
