{% extends 'account/base_site.html' %}

{% load i18n %}

{% block content %}
  <div class="">
    <h3>{% translate "Sign In!" %}</h3>
    <p class="text-center">
      {% translate "Don't have an account?" %}
      <a href="{% url 'account:signup' %}">
        {% translate "Sign up!" %}
      </a>
    </p>
    <form method="POST">
      {% csrf_token %}
      {% for field in form %}
        <div class="mb-3">
          {{ field }}
        </div>
      {% endfor %}
      <button class="btn btn-primary" type="submit">{% translate "Sign in!" %}</button>
    </form>
  </div>
{% endblock %}
